 <div class="col-md-3 hidden-xs">
        <div class= "left-navigation-article">
          <div class="all-articles">
            <span class="title text-center">
              <h3>Tous les articles</h3>
            </span>
            <%= link_to "Rénover en deux deux", root_path %>
            <br>
            <%= link_to "Le guide de la rénovation", root_path %>
            <br>
            <%= link_to "1,2, 3 je rénove avec Jean-Michel", root_path %>
            <br>
            <%= link_to "Rénover en deux trois", root_path %>
            <br>
            <%= link_to "Rénover en deux deux", root_path %>
            <br>
            <%= link_to "Rénover en deux deux", root_path %>
            <br>
            <%= link_to "Rénover en deux deux", root_path %>
          </div>
          <div class="left-call-to-action">
            <span class="title text-center">
              <h3>Rénover mes locaux</h3>
            </span>
            <h3 class="text-center">Les services Renoloco</h3>
              <h4>Définissez vos besoins</h4>
              <p>Avec Renoloco, nous vous aidons à definri vos besoins pour trouver les meilleurs rénovateurs</p>
              <h4>Nous trouvons les prestataires</h4>
              <p>Détaillez vos besoins et envie, nous allons faire matcher les entreprises de rnovations qui correspondent</p>
              <h4>Ils vous contactent</h4>
              <p>Selectionnez les entreprises qui vous plaisent, elles vous recontactent pour établir un devis</p>
            <div class= "article-call-to-action text-center">
              <%= link_to "formulaire", formulaire_path, class: "btn-treehouse"%>
            </div>
          </div>
        </div>
      </div>
