
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <h4>Rénoloco</h4>
        <ul>
          <li><%= link_to "Qui sommes nous ?", root_path %></li>
          <li><%= link_to "Contactez-nous !", root_path %></li>
          <li><%= link_to "Espace Presse", root_path %></li>
          <li><%= link_to "Plan du site", root_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <h4>Nos services</h4>
        <ul>
          <li><%= link_to "Rénover mes locaux", root_path %></li>
          <li><%= link_to "Vous aider dans vos démarches", root_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <h4>Informations utiles</h4>
        <ul>
          <li><%= link_to "L'essentiel", root_path %></li>
          <li><%= link_to "Le guide de la rénovation", root_path %></li>
        </ul>
      </div>
    </div>
    <div class="row", id="dessus-copyright">
      <div class=" col-xs-4 col-md-3 col-md-offset-1 footer-copyright">
        <span>Copyright 2017</span>
      </div>
      <div class="col-xs-4 col-md-1 col-md-offset-3 text-right">
        <%= link_to "CGU", root_path %>
      </div>
      <div class="col-xs-4 col-md-2 col-md-offset-1">
        <%= link_to "Mentions légales", root_path %>
      </div>
    </div>
  </div>
</div>



