<div class="footer">

  <div class="container">

    <div class="row hidden-xs">
      <div class="col-md-6 col-sm-6">
        <h3>Découvrez l’entreprise</h3>
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <%= link_to "Qui sommes nous ?", root_path %>
              <br>
              <%= link_to "Contactez-nous !", root_path %>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul>
              <%= link_to "Espace Presse", root_path %>
              <br>
              <%= link_to "Plan du site", root_path %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Nos devis</h3>
          <ul>
            <%= link_to "Formulaire de rénovation de bureaux", root_path %>
            <br>
            <%= link_to "Vous aider dans vos autre démarches", root_path %>
          </ul>
      </div>
      <div class="col-md-3 col-sm-3">
          <h3>Bien s'informer</h3>
          <ul>
            <%= link_to "L'essentiel", root_path %>
            <br>
            <%= link_to "Le guide de la rénovation", root_path %>
          </ul>
      </div>
    </div>

    <div class="row copyright">
      <div class="hidden-xs text-call text-center">
        <div class="text-call">
          <div class="hidden-xs col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-1">
            <span>Copyright 2017</span>
            <a class="" href="#">Mentions légales</a>
            <a class="" href="#">Conditions Générales d'Utilisation</a>
          </div>
        </div>
      </div>
      <div class="visible-xs text-center">
        <div class="col-xs-8">
          <a class="btn btn-xs " href="#">Conditions Générales d'Utilisation</a>
          <a class="btn btn-xs " href="#">Mentions légales</a>
        </div>
        <div class="col-xs-4">
          <div class="pull-right">© 2017</div>
        </div>
      <div class="hidden-xs socials col-xs-3">
        <a href="#" class="share-link bg-facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-link bg-twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="share-link bg-email">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="icon-youtube" target="_blank" href="#"></a>
      </div>
      </div>
    </div>

  </div>

</div>
