<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Pourquoi choisir renoloco ?", pourquoi_choisir_renoloco_path %></li>
        <li><%= link_to "Trouver des rénovateurs", formulaire_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Le guide de la rénovation<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Comment mener sa stratégie de rénovation", mener_une_strategie_de_renovation_path %></li>
            <li><%= link_to "Pourquoi faire appel à une agence de rénovation ?", pourquoi_faire_appel_a_une_agence_de_renovation_path %></li>
            <li><%= link_to "Bien choisir son agence de rénovation", bien_choisir_son_entreprise_de_renovation_path %></li>
            <li><%= link_to "La réglementation", la_reglementation_path %></li>
            <li><a href="#">Bonnes pratiques et astuces</a></li>
            <li><a href="#">Le timing !</a></li>
            <li class="divider"></li>
            <li><a href="#">Le Blog</a></li>
            <li class="divider"></li>
            <li><a href="#">Plus d'infos</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "L'entreprise", presentation_renoloco_path %></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
