<%= content_for(:navbar_sec_not_here, true) %>
<%= content_for(:footer_not_here, true) %>



<div class="questions-footer">
  <div class="progress-container">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span id="progress-percent">0</span>%
      </div>
    </div>
  </div>

<!--   <div class="controls">
    <div class="control"><i class="fa fa-chevron-up"></i></div>
    <div class="control"><i class="fa fa-chevron-down"></i></div>
  </div> -->
</div>


<%= simple_form_for(@customer) do |f| %>

<div class='questions-container'>
  <!-- ERROR NOTIFICATION NE MARCHE PAS -->
  <%= f.error_notification %>
  <div id="question_<%= question = 0 %>" class="question-container">
    <div class="question-content">
      <h3><span>1</span> <i class="fa fa-chevron-right"></i> Mes bureaux actuels sont situés au </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :customer_address, placeholder: "7 place des Victoires, Paris", label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();" >
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>2</span> <i class="fa fa-chevron-right"></i> et je souhaite faire les travaux au </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :works_address, placeholder: "32 rue Etienne Marcel Paris", label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>3</span> <i class="fa fa-chevron-right"></i> La superficie à rénover est de </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :needs_surface, label: false, placeholder: '300' %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>

  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>4</span> <i class="fa fa-chevron-right"></i> Dans ces locaux nous serons </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :nb_of_employees, label: false, placeholder: '30' %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


 <!-- <h2>ETAT GENERAL + SOLS + MURS +PAFONDS + CABLAGE INFO+ MOBILIER + ARCHITECTE </h2> -->

  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>5</span> <i class="fa fa-chevron-right"></i> Voici les travaux que je prévois de faire </h3>
      <div class="content-container">
        <div class="all-skills-btn" id="input_<%= question %>">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn-works">
              <div class="skills-btn">
                Peinture <i class="fa fa-paint-brush"></i>
              </div>
              </button>
            </div>
            <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn-works">
              <div class="skills-btn">
                Espace détente <i class="fa fa- fa-cutlery"></i>
              </div>
            </button>
            </div>
            <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn-works">
              <div class="skills-btn">
                Système d'alarme <i class="fa fa-lock"></i>
              </div>
            </button>
            </div>
            <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn-works">
              <div class="skills-btn">
                Réseau électrique <i class="fa fa-bolt"></i>
              </div>
            </button>
            </div>
            <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn-works">
              <div class="skills-btn">
                Réseau informatique <i class="fa fa-usb"></i>
              </div>
            </button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>6</span> <i class="fa fa-chevron-right"></i> Cliquez sur la photo qui correspond le plus à vos attentes : </h3>
      <div class="content-container" id="input_<%= question %>">
        <select name="styles" multiple="multiple" class="image-picker show-html">
          <option data-img-src="<%= image_path 'startup.jpg' %>" class="image-picker-photo" value="startup">Dynamique / Startup</option>
          <option data-img-src="<%= image_path 'ancien.jpg' %>" class="image-picker-photo" value="classical">Ancien / Standing</option>
          <option data-img-src="<%= image_path 'modern_office.jpg' %>" class="image-picker-photo" value="modern">Moderne / Efficace</option>
        </select>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>

   <!-- <h2>VISUELS PARTENAIRES</h2> -->

  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>7</span> <i class="fa fa-chevron-right"></i> J'ai la chance de travailler pour la société </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :customer_company_name, placeholder: 'Renoloco', label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>

    <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>8</span> <i class="fa fa-chevron-right"></i> Mon prénom est </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :first_name, placeholder: 'Michel', label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>

  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>9</span> <i class="fa fa-chevron-right"></i> Et mon nom </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :last_name, placeholder: 'Dupont', label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>

  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>10</span> <i class="fa fa-chevron-right"></i> Voici mon numéro de téléphone portable </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :mobile_phone_number, placeholder: '06 XX XX XX XX', label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>11</span> <i class="fa fa-chevron-right"></i> et voici mon adresse email préférée </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :email, placeholder: 'michel@dupont.fr', label: false %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>

  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>12</span> <i class="fa fa-chevron-right"></i> Je souhaite démarrer mes travaux le  </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :starts_at, label: false, input_html: {type: "text" , class: "datepicker datepicker-color"}, html5: true, placeholder: "27/11/2017" %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>13</span> <i class="fa fa-chevron-right"></i> Et il faut absolument que ce soit terminé le  </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :ends_at, label: false, input_html: {type: "text" , class: "datepicker datepicker-color"}, html5: true, placeholder: "24/12/2017" %>
      </div>
      <button type="button" onClick="document.getElementById('question_<%= question + 1 %>').scrollIntoView();">
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>ou <strong>ENTREE</strong></small>
      </button>
    </div>
  </div>


  <div id="question_<%= question += 1 %>" class="question-container">
    <div class="question-content">
      <h3><span>14</span> <i class="fa fa-chevron-right"></i> Enfin, je voulais vous dire que </h3>
      <div class="input-container" id="input_<%= question %>">
        <%= f.input :description, label: false, placeholder: "J'ai besoin de mobilier pour créer un espace détente..." %>
      </div>
      <div class="ok">
        <%= f.submit "Trouver les meilleurs pros!", id: "final-btn" %>
      </div>
    </div>
  </div>
<% end %>
</div>



<!-- JS -->
<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $('.input-container').keydown(function(e) {
        if ( e.which == 13 ) {
          e.preventDefault();
          var id = $(this)[0].id;
          input_id = parseInt(id.substr(id.indexOf("_") + 1));
          input_id += 1;
          question = $('#question_'+ input_id);
          question[0].scrollIntoView();
          question.find("input").focus();
        };
      });
      $('.all-skills-btn').keydown(function(e) {
        if ( e.which == 13 ) {
          e.preventDefault();
          var id = $(this)[0].id;
          input_id = parseInt(id.substr(id.indexOf("_") + 1));
          input_id += 1;
          document.getElementById('question_'+ input_id).scrollIntoView();
        };
      });
        $('.selected').keydown(function(e) {
        if ( e.which == 13 ) {
          e.preventDefault();
          var id = $(this)[0].id;
          input_id = parseInt(id.substr(id.indexOf("_") + 1));
          input_id += 1;
          document.getElementById('question_'+ input_id).scrollIntoView();
        };
      });
      $(window).scroll(function(e) {
        var bodyHeight = $('body').height();
        var heightLimit = bodyHeight * 90 / 100
        var progressBar = $('.progress-bar');
        var progressPercent = $('#progress-percent');
        var stepHeight = (bodyHeight - 392) / 14
        var theWidth = 100 * 1 / 14;
        var stepNb = $(this).scrollTop() / stepHeight;
        var newPercent = Math.round(theWidth * stepNb);
        if ($(this).scrollTop() >= heightLimit) {
          progressPercent.text(100);
          progressBar.css({ "width": '100%'});
        } else {
          progressPercent.text(newPercent);
          progressBar.css({ "width": newPercent + '%'});
        };
      });
    $( ".btn-works" ).click(function() {
      $( this ).toggleClass('btn-works-active');
    });
    });
  </script>
<% end %>

<%#= f.input :photos, as: :attachinary %>



