

<div class="container evolution_bar">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <table>
        <thead>
          <th>
            <div class="content">
              <div class="progress">
                <div class="label">
                  <span>33% completed</span>
                </div>
                <div class="bar">
                  <div class="wrapper"></div>
                  <div class="progress" style="width: 33%"></div>
                </div>
              </div>
            </div>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>Superficie</td>
            <td>Effectifs</td>
            <td>Budget</td>
            <td>Timing</td>
            <td>Ambiance</td>
            <td>Visuels</td>
            <td>Coordonnées</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= simple_form_for(@customer) do |f| %>
<div class='questions-container'>

<!-- ERROR NOTIFICATION NE MARCHE PAS -->

  <%= f.error_notification %>

  <div class="question-container" id='next8' data-prev='#next7' data-next='#next9'>
    <div class="question-content">
      <div>
        Qu'elle est l'adresse actuelle de vos locaux ?
      </div>
      <div class='question-input-container'>
        <%= f.input :customer_address, placeholder: "8 place de l'opéra Paris", label: false %>
      </div>
      <div>
        et de vos travaux ?
      </div>
      <div class='question-input-container'>
        <%= f.input :works_address, label: false, placeholder: "32 rue Etienne Marcel Paris" %>
      </div>
      <div class='question-next-button'>
        <a href='#next9' id="button1" >Ok!</a>
      </div>
    </div>
  </div>

  <div class="question-container" id='next10' data-prev='#next9' data-next='#next11'>
    <div class="question-content">
      <div>
        Qu'elle superficie souhaitez vous rénover ?
      </div>
      <div class='question-input-container'>
        <%= f.input :needs_surface, label: false, placeholder: '300' %>
      </div>
      <div>
        Combien serez vous dans les locaux ?
      </div>
      <div class='question-input-container'>
        <%= f.input :nb_of_employees, label: false, placeholder: '30' %>
      </div>
      <div class='question-next-button'>
        <a href='#next11' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <h2>ETAT GENERAL + SOLS + MURS +PAFONDS + CABLAGE INFO+ MOBILIER + ARCHITECTE </h2>

  <div class="question-container" id='next14' data-prev='#next13' data-next='#next15'>
    <div class="question-content">
      <div class="customer-styles">
        Quel style ?
            <select name="styles" multiple="multiple" class="image-picker show-html list-inline">
                  <option data-img-src="<%= image_path 'startup.jpg' %>" value="startup">Dynamique / Startup</option>
                  <option data-img-src="<%= image_path 'ancien.jpg' %>" value="classical">Ancien / Standing</option>
                  <option data-img-src="<%= image_path 'moderne.jpg' %>" value="modern">Moderne / Efficace</option>
            </select>
        <div class='question-next-button'>
          <a href='#next15' id="button1" >Ok!</a>
        </div>
      </div>
    </div>
  </div>

  <h2>VISUELS PARTENAIRES</h2>

  <div class="question-container" id='next1' data-next='#next2'>
    <div class="question-content">
      <div>
        Nom de la société
      </div>
      <div class='question-input-container'>
        <%= f.input :customer_company_name, placeholder: 'Renoloco', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next2' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class="question-container" id='next3' data-prev='#next2' data-next='#next4'>
    <div class="question-content">
      <div>
        Quel est votre prénom?
      </div>
      <div class='question-input-container'>
        <%= f.input :first_name, placeholder: 'Michel', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next4' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class="question-container" id='next4' data-prev='#next3' data-next='#next5'>
    <div class="question-content">
      <div>
        Quel est votre nom?
      </div>
      <div class='question-input-container'>
        <%= f.input :last_name, placeholder: 'Dupont', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next5' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class="question-container" id='next5' data-prev='#next4' data-next='#next6'>
    <div class="question-content">
      <div>
        Votre email s'il vous plait?
      </div>
      <div class='question-input-container'>
        <%= f.input :email, placeholder: 'michel@dupont.fr', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next6' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class="question-container" id='next6' data-prev='#next5' data-next='#next7'>
    <div class="question-content">
      <div>
        Votre portable?
      </div>
      <div class='question-input-container'>
        <%= f.input :mobile_phone_number, placeholder: '06 XX XX XX XX', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next7' id="button1" >Ok!</a>
      </div>
    </div>
  </div>



 <div class="question-container" id='next13' data-prev='#next12' data-next='#next14'>
  <div class="question-content">
    <div class="date-styles">
      <div>
        Début des travaux :
      </div>
      <div class='question-input-container'>
        <div class="date-style">
          <%= f.input :starts_at, label: false, input_html: {type: "text" , class: "datepicker"}, html5: true %>
        </div>
      </div>
      <div>
        Fin des travaux :
      </div>
      <div class='question-input-container'>
        <div class="date-style">
          <%= f.input :ends_at, label: false, input_html: {type: "text" , class: "datepicker"}, html5: true %>
        </div>
      </div>
      <div class='question-next-button'>
        <a href='#next14' id="button1" >Ok!</a>
      </div>
    </div>
  </div>
</div>







  <div class="question-container" id='next15' data-prev='#next14' data-next='#next16'>
    <div class="question-content">
      <div>
        Autre chose à nous dire?
      </div>
      <div class='question-input-container'>
        <%= f.input :description, label: false, placeholder: "Rénovation des sols et pose du cablage informatique. Aménagement d'un espace détente" %>
      </div>
      <div class='question-next-button'>
        <a href='#next14' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class='question-next-button' id="button1">
    <%= f.button :submit, label: "Valider" %>
  </div>

<% end %>
</div>



<%#= f.input :photos, as: :attachinary %>
