<%= content_for(:footer_not_here, true) %>



<div class="questions-footer">
  <div class="progress-container">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>
    <p>2 / <strong>10</strong></p>
  </div>

  <div class="controls">
    <div class="control"><i class="fa fa-chevron-up"></i></div>
    <div class="control"><i class="fa fa-chevron-down"></i></div>
  </div>

</div>






<%= simple_form_for(@customer) do |f| %>

<div class='questions-container'>
  <!-- ERROR NOTIFICATION NE MARCHE PAS -->
  <%= f.error_notification %>
  <div class="question-container">
    <div class="question-content">
      <h3><span>1</span> <i class="fa fa-arrow-right"></i> Qu'elle est l'adresse actuelle de vos bureaux ?</h3>
      <div class="input-container">
        <%= f.input :customer_address, placeholder: "8 place de l'opéra Paris", label: false %>
      </div>
      <button>
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>press <strong>ENTER</strong></small>
      </button>
    </div>
  </div>


  <div class="question-container">
    <div class="question-content">
      <h3><span>2</span> <i class="fa fa-arrow-right"></i> Ou voulez vous faire des travaux ?</h3>
      <div class="input-container">
        <%= f.input :works_address, placeholder: "32 rue Etienne Marcel Paris", label: false %>
      </div>
      <button>
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>press <strong>ENTER</strong></small>
      </button>
    </div>
  </div>


  <div class="question-container">
    <div class="question-content">
      <h3><span>3</span> <i class="fa fa-arrow-right"></i> Quelle superficie fait la surface ?</h3>
      <div class="input-container">
        <%= f.input :needs_surface, label: false, placeholder: '300' %>
      </div>
      <button>
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>press <strong>ENTER</strong></small>
      </button>
    </div>
  </div>

  <div class="question-container">
    <div class="question-content">
      <h3><span>4</span> <i class="fa fa-arrow-right"></i> Combien serez-vous dans les locaux ?</h3>
      <div class="input-container">
        <%= f.input :nb_of_employees, label: false, placeholder: '30' %>
      </div>
      <button>
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>press <strong>ENTER</strong></small>
      </button>
    </div>
  </div>


 <!-- <h2>ETAT GENERAL + SOLS + MURS +PAFONDS + CABLAGE INFO+ MOBILIER + ARCHITECTE </h2> -->

  <div class="question-container">
    <div class="question-content">
      <h3><span>5</span> <i class="fa fa-arrow-right"></i> Quels travaux faut il prévoir ?</h3>
      <div class="input-container">
        <div class="all-skills-btn">
          <button>
            <div class="skills-btn">
              Peinture <i class="fa fa-paint-brush"></i>
            </div>
          </button>
          <button>
            <div class="skills-btn">
              Réseau informatique <i class="fa fa-usb"></i>
            </div>
          </button>
          <button>
            <div class="skills-btn">
              Peinture <i class="fa fa-paint-brush"></i>
            </div>
          </button>
          <button>
            <div class="skills-btn">
              Réseau informatique <i class="fa fa-usb"></i>
            </div>
          </button>
        </div>
      </div>
      <button>
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>press <strong>ENTER</strong></small>
      </button>
    </div>
  </div>


  <div class="question-container">
    <div class="question-content">
      <h3><span>6</span> <i class="fa fa-arrow-right"></i> Quel style de locaux voulez-vous ?</h3>
      <div class="input-container">
        <select name="styles" multiple="multiple" class="image-picker show-html">
          <option data-img-src="<%= image_path 'startup.jpg' %>" value="startup">Dynamique / Startup</option>
          <option data-img-src="<%= image_path 'ancien.jpg' %>" value="classical">Ancien / Standing</option>
          <option data-img-src="<%= image_path 'modern_office.jpg' %>" value="modern">Moderne / Efficace</option>
        </select>
      </div>
      <button>
        <div class="ok">
          OK <i class="fa fa-check"></i>
        </div>
        <small>press <strong>ENTER</strong></small>
      </button>
    </div>
  </div>

   <!-- <h2>VISUELS PARTENAIRES</h2> -->

<% if false %>




  <div class="question-container" id='next1' data-next='#next2'>
    <div class="question-content">
      <div>
        Nom de la société
      </div>
      <div class='question-input-container'>
        <%= f.input :customer_company_name, placeholder: 'Renoloco', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next2' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class="question-container" id='next3' data-prev='#next2' data-next='#next4'>
    <div class="question-content">
      <div>
        Quel est votre prénom?
      </div>
      <div class='question-input-container'>
        <%= f.input :first_name, placeholder: 'Michel', label: false %>
      </div>
      <div>
        Quel est votre nom?
      </div>
      <div class='question-input-container'>
        <%= f.input :last_name, placeholder: 'Dupont', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next4' id="button1" >Ok!</a>
      </div>
    </div>
  </div>

  <div class="question-container" id='next5' data-prev='#next4' data-next='#next6'>
    <div class="question-content">
      <div>
        Votre email s'il vous plait?
      </div>
      <div class='question-input-container'>
        <%= f.input :email, placeholder: 'michel@dupont.fr', label: false %>
      </div>
      <div>
        Votre portable?
      </div>
      <div class='question-input-container'>
        <%= f.input :mobile_phone_number, placeholder: '06 XX XX XX XX', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next6' id="button1" >Ok!</a>
      </div>
    </div>
  </div>


  <div class="question-container" id='next13' data-prev='#next12' data-next='#next14'>
    <div class="question-content">
      <div class="date-styles">
        <div class="align-boxes">
          <div>
            Début des travaux :
          </div>
          <div class='question-input-container'>
            <div class="date-style">
              <%= f.input :starts_at, label: false, input_html: {type: "text" , class: "datepicker"}, html5: true %>
            </div>
          </div>
          <div>
            Fin des travaux :
          </div>
          <div class='question-input-container'>
            <div class="date-style">
              <%= f.input :ends_at, label: false, input_html: {type: "text" , class: "datepicker"}, html5: true %>
            </div>
          </div>
        </div>
          <div class='question-next-button'>
            <a href='#next14' id="button1" >Ok!</a>
          </div>
      </div>
    </div>
  </div>



  <div class="question-container" id='next15' data-prev='#next14' data-next='#next16'>
    <div class="question-content">
      <div>
        Autre chose à nous dire?
      </div>
      <div class='question-input-container'>
        <%= f.input :description, label: false, placeholder: "Rénovation des sols et pose du cablage informatique. Aménagement d'un espace détente" %>
      </div>
      <div class='question-next-button'>
        <a href='#next14' id="button1" >Ok!</a>
      </div>
    </div>
  </div>

  <div class='question-next-button' id="button1">
    <%= f.button :submit, label: "Valider" %>
  </div>

  <% end %>



<% end %>
</div>



<%#= f.input :photos, as: :attachinary %>
