<div class="wrapper-light-grey">

  <div class="container">
    <div class="row">
      <div class="octocat">
        <div class="col-xs-12 col-md-2">
            <%= image_tag "jenktocat.jpg" %>
        </div>
        <div class="col-xs-12 col-md-10">
            <br>
            <p>Merci ! Votre demande de devis a bien été enregistrée.</p>
        </div>
      </div>
    </div>

  <br><br>
    <div class="row">
      <div class="col-sm-12">
        <span class="title-h2">
          <h3><strong>Quelles sont les prochaines étapes ?</strong></h3>
        </span>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="confirmation-card">
            <div class="row">
              <div class="number">
                <span>1</span>
              </div>
              <%= image_tag "operator.svg" %>
            </div>
            <div class="row">
            <p>Votre demande est en cours de validation par nos conseillers. Ils pourront vous contacter pour compléter votre demande.</p>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="confirmation-card">
            <div class="number">
              <span>2</span>
            </div>
            <%= image_tag "close-envelope.svg" %>
            <div>
              <p>Dès validation, vous recevrez les coordonnées des professionnels sélectionnés.</p>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="confirmation-card">
            <div class="number">
              <span>3</span>
            </div>
            <%= image_tag "engineer.svg" %>
            <div>
              <p>Les professionnels disponibles vous contacteront dans les plus brefs délais.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="presentation-bloc">
        <div class="col-sm-12">
          <div class= "main-call-to-action text-center">
            <%= link_to "Revenir à l'accueil", root_path, class: "btn-treehouse"%>
            <%= link_to "une question ? Appelez-nous !", root_path, class: "btn-treehouse"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

