<div class="wrapper_grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="left-card text-center">
          <div class="left-card-elem">
            <h3>Mon profil</h3>
          </div>
          <div class="left-card-elem">
            <img src="https://res.cloudinary.com/das218bbz/image/upload/c_crop,g_face,h_900,r_max,w_900/c_scale,w_150/v1489592039/jfbs2cwncsz1drf95boe.jpg" alt="Jfbs2cwncsz1drf95boe" />
          </div>
          <div class="left-card-elem">
            <span> <%= current_pro.contact_first_name %> <%= current_pro.contact_last_name %></span>
          </div>
          <div class="left-card-elem"->
            <p> <%= current_pro.email %> </p>
            <p> <%= current_pro.contact_phone_number %> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="right-card">
          <div class="right-card-elem text-center">
            <h3>Profil : <strong> <%= current_pro.pro_company_name %> </strong></h3>
          </div>
          <div class="right-card-elem">
            <span>Nom de l'entreprise : <strong><%= current_pro.pro_company_name %></strong></span>
          </div>
          <div class="right-card-elem">
            <span>Adresse : <strong><%= current_pro.address %></strong></span>
          </div>
          <div class="right-card-elem">
              <span>Rayon d'activité : <strong><%= current_pro.operating_radius %></strong> kilomètres </span>
          </div>
          <div class="right-card-elem">
              <span> Je suis intéressé par les chantiers entre <strong><%= current_pro.min_operating_surface%></strong> et <strong><%= current_pro.max_operating_surface%></strong> mètres carrés.</span>
          </div>
    <!--       <div class="right-card-elem">
              <span>photos et types</span>
              <#% current_pro.photos.each do |photo| %>
              <%#= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
              <#% end %>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
