<%= content_for(:footer_not_here, true) %>
<div class="wrapper_grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="left-card text-center">
          <div class="left-card-elem">
            <h3>Profil du contact</h3>
          </div>
          <div class="left-card-elem">
            <img src="https://res.cloudinary.com/das218bbz/image/upload/c_crop,g_face,h_900,r_max,w_900/c_scale,w_150/v1489592039/jfbs2cwncsz1drf95boe.jpg" alt="Jfbs2cwncsz1drf95boe" />
          </div>
          <div class="left-card-elem">
            <span> <%= current_pro.contact_first_name %> <%= current_pro.contact_last_name %></span>
          </div>
          <div class="left-card-elem">
            <p> <%= current_pro.email %> </p>
            <p> <%= current_pro.contact_phone_number %> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="right-card">
          <div class="right-card-elem text-center">
            <h3>Profil de la société</h3>
          </div>
          <div class="right-card-elem">
            <span>Nom de l'entreprise : <strong><%= current_pro.pro_company_name %></strong></span>
          </div>
          <div class="right-card-elem">
            <span>Adresse : <strong><%= current_pro.address %></strong></span>
          </div>
          <div class="right-card-elem">
              <span>Rayon d'activité : <strong><%= current_pro.operating_radius %></strong> kilomètres </span>
          </div>
          <div class="right-card-elem">
              <span> Je suis intéressé par les chantiers entre <strong><%= current_pro.min_operating_surface%></strong> et <strong><%= current_pro.max_operating_surface%></strong> mètres carrés.</span>
          </div>
          <div class="right-card-elem">
              <span>photos et types</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
      <h2>Mise à jour de profile</h2>

        <%= simple_form_for(@pro, url: pros_profile_path(@pro)) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :pro_company_name %>
          <%= f.input :address %>
          <%= f.input :contact_first_name %>
          <%= f.input :contact_last_name %>
          <%= f.input :contact_position %>
          <%= f.input :contact_phone_number %>
          <%= f.input :operating_radius %>
          <%= f.input :min_operating_surface %>
          <%= f.input :max_operating_surface %>
        <h3>Vos photos de startups</h3>
          <%= f.input :photos_sup, as: :attachinary %>
        <h3>Vos photos de bureaux anciens</h3>
          <%= f.input :photos_old, as: :attachinary %>
        <h3>Vos photos de bureaux modernes</h3>
          <%= f.input :photos_new, as: :attachinary %>
        <h3>Vos photos de bureaux modernes</h3>
          <%= f.input :photo_company_logo, as: :attachinary %>
        <%= f.button :submit, "Sauvegarder" %>
      <% end %>
        <% @pro.photos_sup.each do |photo_sup| %>
          <%= cl_image_tag photo_sup.path, width: 400, height: 300, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
</div>








