<%= content_for(:navbar_sec_not_here, true) %>
<%= content_for(:footer_not_here, true) %>

<div class="wrapper_grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="left-card text-center">
          <div class="left-card-elem">
            <h3>Profil du contact</h3>
          </div>
          <div class="left-card-elem">
            <img src="https://res.cloudinary.com/das218bbz/image/upload/c_crop,g_face,h_900,r_max,w_900/c_scale,w_150/v1489592039/jfbs2cwncsz1drf95boe.jpg" alt="Jfbs2cwncsz1drf95boe" />
          </div>
          <div class="left-card-elem">
            <span> <%= current_pro.contact_first_name %> <%= current_pro.contact_last_name %></span>
          </div>
          <div class="left-card-elem">
            <p> <%= current_pro.email %> </p>
            <p> <%= current_pro.contact_phone_number %> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="right-card">
          <div class="right-card-elem text-center">
            <h3>Profil de la société</h3>
          </div>
          <div class="right-card-elem">
            <span>Nom de l'entreprise : <strong><%= current_pro.pro_company_name %></strong></span>
          </div>
          <div class="right-card-elem">
            <span>Adresse : <strong><%= current_pro.address %></strong></span>
          </div>
          <div class="right-card-elem">
              <span>Rayon d'activité : <strong><%= current_pro.operating_radius %></strong> kilomètres </span>
          </div>
          <div class="right-card-elem">
              <span> Je suis intéressé par les chantiers entre <strong><%= current_pro.min_operating_surface%></strong> et <strong><%= current_pro.max_operating_surface%></strong> mètres carrés.</span>
          </div>
          <div class="right-card-elem">
              <span>photos et types</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Mise à jour de profile</h2>
    </div>
    <div class="col-xs-12 col-md-4 card_formulaire"
      <%= simple_form_for(@pro, url: pros_profile_path(@pro)) do |f| %>
        <%= f.error_notification %>
        <h5>Email</h5>
        <%= f.input :email, required: true, label: false %>
        <h5>Société</h5>
        <%= f.input :pro_company_name, label: false %>
        <h5>Adresse</h5>
        <%= f.input :address, label: false %>
        <h5>Prénom</h5>
        <%= f.input :contact_first_name, label: false %>
        <h5>Nom</h5>
        <%= f.input :contact_last_name, label: false %>
        <h5>Poste</h5>
        <%= f.input :contact_position, label: false %>
        <h5>Téléphone portable</h5>
        <%= f.input :contact_phone_number, label: false %>
        <h5>Distance maximale des chantiers (en km)</h5>
        <%= f.input :operating_radius, label: false %>
        <h5>Surface minimum des chantiers (en m2)</h5>
        <%= f.input :min_operating_surface, label: false %>
        <h5>Surface maximum des chantiers (en m2)</h5>
        <%= f.input :max_operating_surface, label: false %>
    </div>
    <div class="cards_choix_photos">
      <div class="col-xs-12 col-md-4 card_choix_photos">
        <h4>Vos photos style startup (max 3)</h4>
          <%= f.input :photos_sup, as: :attachinary, label: false %>
          <br><br>
        <h4>Vos photos style ancien (max 3)</h4>
          <%= f.input :photos_old, as: :attachinary, label: false %>
      </div>
      <div class="col-xs-12 col-md-4 card_choix_photos">
        <h4>Vos photos style moderne (max 3)</h4>
          <%= f.input :photos_new, as: :attachinary, label: false %>
          <br><br>
        <h4>Le logo de votre société</h4>
          <%= f.input :photo_company_logo, as: :attachinary, label: false %>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <%= f.button :submit, "Sauvegarder", class: "btn btn-success" %>
    <% end %>
    </div>
  </div>
</div>
      <%# @pro.photos_sup.each do |photo_sup| %>
        <%#= cl_image_tag photo_sup.path, width: 400, height: 300, crop: :fill %>
      <%# end %>
      <%# @pro.photos_old.each do |photo_old| %>
        <%#= cl_image_tag photo_old.path, width: 400, height: 300, crop: :fill %>
      <%# end %>
      <%# @pro.photos_new.each do |photo_new| %>
        <%#= cl_image_tag photo_new.path, width: 400, height: 300, crop: :fill %>
      <%# end %>
      <%#= cl_image_tag @pro.photo_company_logo.path, width: 400, height: 300, crop: :fill %>






