


<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Pourquoi Renoloco ?</a></li>
        <li><a href="#">Trouver des rénovateurs</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Le guide de la rénovation<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Bien choisir son entreprise de rénovation</a></li>
            <li><a href="#">Bonnes pratiques et astuces</a></li>
            <li><a href="#">Le timing !</a></li>
            <li class="divider"></li>
            <li><a href="#">Le Blog</a></li>
            <li class="divider"></li>
            <li><a href="#">Plus d'infos</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">L'Entreprise</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.3) 0%, rgba(123, 2, 1, 0.2) 50%), url(<%= asset_path 'home-banner.jpg' %>) ">
    <div class="banner-content">
      <h1>Aménagez vos bureaux à votre image</h1>
      <i>Nous trouvons pour vous les entreprises de rénovation qui réaliseront vos rêves</i>
      <%= link_to formulaire_path, class: "main-cta" do %>
        <span>Trouver le bon pro</span>
      <% end %>
      <ul class="main-features">
        <li>Définissez vos besoins</li>
        <li>Nous trouvons les prestataires</li>
        <li>Ils vous contactent</li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper-light-grey">
  <div class="container">
    <div class="row text-center">
    <h2>Offrez à vos employés les bureaux qu'ils méritent!</h2>
    </div>
    <div class="row text-center">
      <h3><strong>9 salariés sur 10</strong> se sentiraient plus productifs et créatifs dans des bureaux bien aménagés</h3>
    </div>
    <div class="row text-center text-justify">
        <div class="col-xs-12 col-md-4">
          <div class="presentation-card">
            <p><strong>Qu'est ce que Renoloco ?</strong></p>
            <p>Renoloco est le site internet de référence de la rénovation de locaux. Nous mettons à votre disposition notre expertise du métier afin réussir vos démarches de rénovation.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="presentation-card">
            <p><strong>Pourquoi passer par Renoloco ?</strong></p>
            <p>Nous vous mettons en contact avec les meilleurs professionnels correspondants à vos besoins qui vous répondent dans les meilleurs délais. Gain de temps, d'efficacité.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="presentation-card">
            <p><strong>Le plus Renoloco ?</strong></p>
            <p>Penser la rénovation en terme techniques et pratiques, mais aussi en question d'affinité et de goût puisque comme c un endroit ou vous allez la notion d'envie, bien être.</p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="wrapper">
  <div class="banner", style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.3) 0%, rgba(123, 2, 1, 0.2) 50%), url(<%= asset_path 'banner2.jpg' %>) ">
    <div class="container">
      <div class="row">
        <div id="front-articles">
          <div class="col-xs-12 col-sm-6">
            <div class="banner-content">
              <h1 class="card-title-h1">Rénovation</h1>
              <h2 class="card-title-h2">L'essentiel de l'aménagement</h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="articles-bloc">
              <h3>L'essentiel de la <strong>rénovation</strong> en 3 articles</h3>
              <span>Bien choisir son entreprise de rénovation :</span>
              <p class="text-justify">Les 6 principaux points à bien prendre en compte au moment de choisir son entreprise de rénovation.</p>
              <span>Bonnes pratiques et astuces :</span>
              <p class="text-justify">Il est parfois compliqué d'avoir une vue synthétique du projet de rénovation. Suivez le guide.</p>
              <span>Le timing !</span>
              <p class="text-justify">Un élément décisif pour la réussite de votre projet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container cards-home">
  <div class="row">
    <div class="col-sm-12 text-center">
      <span class="title-h2">
        <h3>Ils nous font confiance</h3>
      </span>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'design_atypique.jpg' %>);">
        <div class="card-category"></div>
        <div class="card-description">
          <h2>Rémora SAS</h2>
          <p>"Qualité de service et excellent conseil."</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'startup.jpg' %>);">
        <div class="card-category"></div>
        <div class="card-description">
          <h2>Le petit ballon</h2>
          <p>"On a adoré, les prestataires étaient très compétents."</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'modern_office.jpg' %>);">
        <div class="card-category"></div>
        <div class="card-description">
          <h2>Glaglacool</h2>
          <p>"Ils ont su réaliser nos rêves !"</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="presentation-bloc">
      <div class="col-sm-12">
        <div class= "main-call-to-action">
          <%= link_to formulaire_path, id:"home-final-cta" do %>
            <span>Trouver le bon pro</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



