
<!--   <div class="nav-bar-sec">
    <div class="tabs">
      <div class></div>
      <a class="tab active" href="#">
        <h4>S'informer</h4>
      </a>

      <a class="tab" href="#">
        <h4>Trouver des rénovateurs</h4>
      </a>
      <a class="tab" href="#">
        <h4>Autre démarche</h4>
      </a>
      <a class="tab" href="#">
        <h4>L'entreprise</h4>
      </a>
      <a class="tab" href="#">
        <h4>Nous contacter</h4>
      </a>
    </div>
  </div> -->


<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Pourquoi Renoloco ?</a></li>
        <li><a href="#">Trouver des rénovateurs</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Le guide de la rénovation<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Bien choisir son entreprise de rénovation</a></li>
            <li><a href="#">Bonnes pratiques et astuces</a></li>
            <li><a href="#">Le timing !</a></li>
            <li class="divider"></li>
            <li><a href="#">Le Blog</a></li>
            <li class="divider"></li>
            <li><a href="#">Plus d'infos</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">L'Entreprise</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 50%), url(<%= asset_path 'banner_photo.jpg' %>) ">
  <div class="banner-content">
    <h1>Aménagez vos bureaux à votre image</h1>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h2>Nous trouvons pour vous les entreprises de rénovation qui réaliseront vos rêves</h2>
      </div>
    </div>
  </div>
</div>

<div class="presentation_wrapper">
  <div class="container">
    <div id="frontpage-presentation">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="title-h2">
            <h3>Les <strong>services</strong> Renoloco</h3>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Calculer mes aides"><span class="fa fa-calculator"></span></a>
              <div class="presentation-text">
                <p>
                  <strong>Remplissez le questionnaire</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Demander ma prime énergie">
                <span class="fa fa-eur"></span>
              </a>
              <div class="presentation-text">
                <p>
                  <strong>Recevez vos plans et devis</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Outil d'aide au choix des travaux les plus rentables"><span class="fa fa-home"></span></a>
              <div class="presentation-text">
                <p>
                  <strong>Trouvez les meilleurs prestataires</strong>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          <div class="col-sm-12">
            <div class= "main-call-to-action text-center">
              <%= link_to "Remplir le questionnaire en 1 minute", formulaire_path, class: "btn-treehouse"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper-light-grey">
  <div class="container">
      <div class="row">
        <div id="front-articles">
          <div class="col-xs-12 col-sm-6 left-square">
            <div class="card-text-left" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 50%), url(<%= asset_path 'article_renovation.jpg' %>) ">
              <div class="banner-content">
                <h1 class="card-title-h1">Rénovation</h1>
                <h2 class="card-title-h2">L'essentiel de l'aménagement</h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 right-square">
            <div class="articles-bloc">
              <div class="row">
                <h3 class="text-center">L'essentiel de la <strong>rénovation</strong> en 3 articles</h3>
                <div class="two-articles">
                  <div class="col-sm-6">

                    <div class="article-card">
                      <a href="#"><span class="project-icon text-center"></span><span><strong>Bien choisir son entreprise de rénovation :</strong></span></a>
                      <span class="project-icon project-icon-iso-m"></span>
                      <p class="text-justify">Les 6 principaux points à bien prendre en compte au moment de choisir son entreprise de rénovation.</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="article-card">
                      <a href="#"><span class="project-icon"></span><span><strong>Bonnes pratiques et astuces :</strong></span></a>
                      <span class="project-icon project-icon-iso-m"></span>
                      <p class="text-justify">Il est parfois compliqué d'avoir une vue synthétique du projet de rénovation. Suivez le guide.</p>
                    </div>
                  </div>
                 </div>
                <div class="col-sm-12">
                  <div class="article-card-inline">
                    <a href="#"><span class="project-icon text-center"></span><span><strong>Le timing !</strong></span></a>
                    <span class="project-icon project-icon-iso-m"></span>
                    <p class="text-justify">Un élément décisif pour la réussite de votre projet.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="presentation_wrapper">
  <div class="container">
    <div id="frontpage-presentation">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="title-h2">
            <h3>Ils nous ont fait confiance</h3>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="photo-card">
              <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 50%), url(<%= asset_path 'design_atypique.jpg' %>) ">
              </div>
              <div class="presentation-text">
                <p>
                  <strong>Le Wagon</strong>
                  <span>Paris</span>
                  <span>2017</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="photo-card">
              <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 50%), url(<%= asset_path 'modern_office.jpg' %>) ">
              </div>
              <div class="presentation-text">
                <p>
                  <strong>Le Petit Ballon</strong>
                  <span>Paris</span>
                  <span>2017</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="photo-card">
              <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 50%), url(<%= asset_path 'startup.jpg' %>) ">
              </div>
              <div class="presentation-text">
                <p>
                  <strong>La fromagerie</strong>
                  <span>Lyon</span>
                  <span>2017</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          <div class="col-sm-12">
            <div class= "main-call-to-action text-center">
              <%= link_to "Trouver ses bureaux avec Renoloco", formulaire_path, class: "btn-treehouse"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
